.body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    /* background-color: #3a3f43; */
    margin: 0;
    padding: 0;
}

/* FOOTER */
.footer {
  /* background: #020617; */
  padding: 70px 20px 20px;
  color: white;

  border-top: 1px solid rgba(255,255,255,0.08);
}

/* CONTAINER */
.footer-container {
  max-width: 1200px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

/* LEFT */
.footer-info {
  flex: 1;
  min-width: 280px;
}

.footer-info h2 {
  color: #38bdf8;
  margin-bottom: 15px;
  text-align: center;
  text-shadow: 0 0 15px rgba(56,189,248,0.4);
}

.footer-info p {
  color: #94a3b8;
  line-height: 1.7;
}

/* CONTACT */
.footer-contact {
  margin-top: 20px;
}

.footer-contact p {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-bottom: 12px;
}

/* SOCIAL */
.footer-social {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* ICONS */
.footer-social a {
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  font-size: 22px;
  color: #38bdf8;

  background: rgba(255,255,255,0.05);

  border: 1px solid rgba(255,255,255,0.08);

  transition: 0.3s ease;
}

/* HOVER */
.footer-social a:hover {
  transform: translateY(-6px) scale(1.1);

  color: white;

  box-shadow:
    0 0 10px #38bdf8,
    0 0 25px #38bdf8,
    0 0 40px #38bdf8;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  margin-top: 50px;

  border-top: 1px solid rgba(255,255,255,0.08);
  padding-top: 20px;
}

.footer-bottom p {
  color: #64748b;
}

/* MOBILE */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }

  .footer-contact p {
    justify-content: center;
  }

  .footer-social {
    justify-content: center;
  }
}